.main{
	display: grid;
	grid-template:
		"a a c"
		"b b b"
		"b b b"
		"d d d";
}
h1 {
	color: black;
	font-family: ballinger-mono, sans-serif;
	font-weight: 800;
	font-style: normal;
	padding: 5px;
	grid-area: a;
}

.navbar {
	background-color: white;
	border: 2px solid lavender;
	color: black;
	font-family: ballinger-mono, sans-serif;
	font-weight: 300px;
	font-style: normal;
	font-size: 13px;
	height: 4em;
	width: 5em;
	position: absolute;
	grid-area: c;
}

.navbar a {
	color: pink;
	text-align: center;
	text-decoration: none;
}

.navbar a:hover {
	background-color: black;
	color: white;
}

body {
	background-color: grey;
	font-family: ballinger-mono, sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 0;
}

.article {
	background-color: white;
	grid-area: b;
	height: ;
}

.subheader {
	padding: 25px;
}

.content {
	padding: 25px;
}

footer{
	grid-area: d;
}
